<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.yabai-watchdog</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/xianull/dotfiles/yabai/yabai-watchdog.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/yabai_watchdog.out.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/yabai_watchdog.err.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>YABAI_PATH</key>
		<string>/opt/homebrew/bin/yabai</string>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Nice</key>
	<integer>5</integer>
</dict>
</plist>
